.post-item-container {
  /* Used to position the left vertical line */
  position: relative;
  max-width: 800px;
}

.container__line {
  /* Border */
  border-right: 2px solid var(--gray-600);

  /* Positioned at the left */
  left: 16px;
  position: absolute;
  top: 0px;

  /* Take full height */
  height: 100%;
}

.container__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.container__item {
  margin-bottom: 8px;
}

.container__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.container__circle {
  /* Rounded border */
  background-color: var(--gray-600);
  border-radius: 9999px;

  /* Size */
  height: 32px;
  width: 32px;
}

.container__title {
  /* Take available width */
  flex: 1;
  margin-left: 15px;
}

.container__desc {
  /* Make it align with the title */
  margin-left: 48px;
}